{% extends 'ventas/base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block title %}Listado de Ventas{% endblock %}
{% block header %}Listado de Ventas{% endblock %}


{% block extra_buttons %}
<div>
    <a href="{% url 'ventas:venta_create' %}" class="btn btn-success">
        <i class="fas fa-plus"></i> Nueva venta
    </a>
</div>
{% endblock extra_buttons %}
    
{% block content %}
<form method="GET" class="mb-1 p-1 border rounded bg-light">

    <h5 class="mb-1">Filtros avanzados</h5>

    <div class="row g-1">

        <div class="col-md-6">
            <label>Codigo</label>
            <input type="text" name="codigo" class="form-control" value="{{ request.GET.codigo }}" placeholder="buscar venta por codigo">
        </div>
    </div>

    <div class="mt-3">
        <button class="btn btn-primary">Aplicar filtros</button>
        <a href="{% url 'ventas:venta_list' %}" class="btn btn-secondary">Limpiar</a>
    </div>
</form>
    <table class="table table-bordered table-striped table-hover">
        {% include 'paginator.html' %}
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Cliente</th>
                <th>Fecha</th>
                <th>Total</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for venta in ventas %}
            <tr>
                <td>{{ venta.id }}</td>
                <td>{{ venta.cliente.nombre }}</td>
                <td>{{ venta.fecha|date:"d/m/Y H:i" }}</td>
                <td>${{ venta.total }}</td>
                <td>
                    <a href="{% url 'ventas:venta_form' venta.pk %}" class="btn btn-primary" title="Editar venta">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="{% url 'ventas:venta_detail' venta.pk %}" class="btn btn-info" title="Ver detalle">
                        <i class="fas fa-eye"></i>
                    </a>
                    <a href="{% url 'ventas:venta_delete' venta.pk %}" class="btn btn-danger" title ="Eliminar">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                    <a href="{% url 'ventas:venta_pdf' venta.pk %}" class="btn btn-success" title="Comprobante">
                        <i class="fas fa-info"></i>
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="text-center">No hay ventas registradas.</td>
            </tr>
            {% endfor %}
        </tbody>
{% endblock content %}
