{% extends 'ventas/base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

<h2>Ventas</h2>
<table class="table table-bordered">
    <tr>
        <th>Código</th>
        <th>Cliente</th>
        <th>Fecha</th>
        <th>Total</th>
        <th>Detalle</th>
    </tr>
    {% for venta in ventas %}
    <tr>
        <td>{{ venta.codigo }}</td>
        <td>{{ venta.cliente }}</td>
        <td>{{ venta.fecha }}</td>
        <td>${{ venta.total }}</td>
        <td><a href="{% url 'ventas:venta_detail' venta.pk %}">Ver</a></td>
    </tr>
    {% endfor %}
</table>
