{% extends 'productos/base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="form-group">
        <h1>Detalle de la oficina</h1>
        <p><strong>Nombre: </strong>{{ producto.nombre }}</p>
        <p><strong>SKU: </strong>{{ producto.sku }}</p>
        <p><strong>Precio: </strong>${{ producto.precio_unitario }}</p>
        <p><strong>Stock Actual: </strong>{{ producto.stock }}</p>
        <div class="text-align mt-4">
            <a href="{% url 'productos:producto_list' %}" class="btn btn-secondary">Volver al listado</a>
        </div>
    </div>

{% endblock content %}