{% extends 'productos/base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block title %}Movimiento de Stock de: {{ producto.nombre }} {% endblock %}
{% block header %}Movimiento de Stock de: {{ producto.nombre }} {% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <form method="post" novalidate>
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12">
                    {{ form|crispy }}
                </div>
            </div>

            <div class="form-group mt-3">
                <button type="submit" class="btn btn-success">
                    <i class="fas fa-save"></i> Guardar Movimiento
                </button>
                <a href="{% url 'productos:producto_list' %}" class="btn btn-secondary">
                    <i class="fas fa-arrow-left"></i> Cancelar
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}