{% extends 'clientes/base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block content %}
<div class ="container mt-5">
    <div class="card mx-auto" style="max-width: 500px;">
        <div class="card-header bg-danger text-white text-center">
            <h4>Confirmar eliminación de cliente</h4>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush mb-3">
                <li class="list-group-item">
                    <strong>Nombre de cliente:</strong> {{ cliente.nombre }}
                </li>
                <li class="list-group-item">
                    <strong>DNI de cliente:</strong> {{ cliente.numero_documento }}
                </li>
            </ul>
            <form method="post">
                {% csrf_token %}
                <div class="alert alert-danger" role="alert">
                    ¿Estás seguro de que deseas eliminar este cliente?
                </div>
                <button type="submit" class="btn btn-danger btn-block">Eliminar cliente</button>
                <a href="{% url 'clientes:cliente_list' %}" class="btn btn-secondary btn-block mt-2">Cancelar</a>
{% endblock content %}